.cloud-details {
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vendor-info {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.vendor-info p {
  margin: 10px 0;
}

.vendor-info strong {
  color: #333;
}

h2 {
  font-family: "Arial Black", sans-serif;
  font-size: 24px;
  color: #003ed9;
  margin-bottom: 10px;
}
